PUBLIC_SITE_URL=
PUBLIC_AWS_REGION=us-east-1
PUBLIC_S3_ASSETS_BUCKET=
PUBLIC_COGNITO_IDENTITY_POOL_ID=
PUBLIC_COGNITO_AUTHORITY=
PUBLIC_COGNITO_CLIENT_ID=
PUBLIC_COGNITO_REDIRECT_URI=
PUBLIC_COGNITO_HOSTED_DOMAIN=
